* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  height: 100vh;
  background: linear-gradient(45deg, #cfecd0, #a0cea7, #9ec0db);
  overflow: hidden;
}

body input[type="checkbox"] {
  display: none;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #e70d44;
  opacity: 0;
  transform-origin: right top;
  transition: 0.6s;
}

.menu-toggle:hover::before {
  opacity: 1;
  transform: scale(1.05);
}

.menu-toggle:hover .line-1 {
  width: 26px;
}

.menu-toggle:hover .line-2 {
  width: 14px;
}

.menu-toggle:hover .line-3 {
  width: 22px;
}

.lines {
  position: relative;
  width: 26px;
  height: 18px;
  right: calc(50% - 150px / 2);
  top: calc(50% - 150px / 2);
}

.line {
  position: absolute;
  display: block;
  height: 3px;
  background-color: #fff;
  transition: 0.5s;
}

.line:first-child {
  top: 0;
  width: 22px;
}

.line:nth-child(2) {
  top: 9px;
  width: 26px;
}

.line:last-child {
  top: 18px;
  width: 14px;
}

#menu-active:checked ~ label .line:first-child {
  top: 13px;
  width: 26px;
  transform: rotate(45deg);
}

#menu-active:checked ~ label .line:nth-child(2) {
  opacity: 0;
}

#menu-active:checked ~ label .line:last-child {
  top: 13px;
  width: 26px;
  transform: rotate(-45deg);
}

.menu-cover {
  position: fixed;
  top: 0;
  left: 15%;
  height: 100%;
  width: 100%;
  background-color: #e70d44;
  opacity: 0;
  transition: 0.6s;
}

#menu-active:checked ~ .menu-cover {
  transform: scaleX(1.15);
  opacity: 1;
}

.cube-container {
  position: relative;
  z-index: 1;
  width: 50vh;
  height: 50vh;
  perspective-origin: 500px;
  cursor: pointer;
}

.cube {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  transition: 2.5s;
}

.cube-side {
  position: absolute;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
}

.front {
  transform: translateZ(25vh);
}

.back {
  transform: rotateY(180deg) translateZ(25vh);

}

.right {
  transform: rotateY(90deg) translateZ(25vh);

}

.left {
  transform: rotateY(-90deg) translateZ(25vh);
}

.zindex {
  z-index: -1;
}

.rotateY {
  transform: rotateY(180deg);
}

.cube-side__img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.cube-side__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .menu-toggle {
    width: 120px;
    height: 120px;
  }

  .lines {
    right: calc(50% - 120px / 2);
    top: calc(50% - 120px / 2);
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    width: 100px;
    height: 100px;
  }

  .lines {
    right: calc(50% - 100px / 2);
    top: calc(50% - 100px / 2);
  }

  .menu-toggle::before {
    display: none;
  }

  #menu-active:checked ~ .menu-cover {
    transform: scaleX(1.25);
    opacity: 1;
  }
}

@media (max-width: 360px) {
  .menu-toggle {
    width: 80px;
    height: 80px;
  }

  .lines {
    right: calc(50% - 80px / 2);
    top: calc(50% - 80px / 2);
  }
}
